.block-posts {
  background: #E5E5E5;
}

.block-posts-title {
  padding-bottom: 6%;
}

.block-posts {
  &__blocks {
    display: flex;
    flex-wrap: wrap;
  }

  &__block {
    background: $white;
    margin-bottom: 24px;
    border-bottom: 16px solid $white;
    margin-right: 15px;
    height: fit-content;
    margin: 20px auto;

    @include screen-md {
      height: 367px;
      width: 23.5%;
      margin: 0;
      margin-right: 18px;
      margin-top: 24px;
    }
  }
}

.blog-container {
  &__title {
    @include font-size(700, 14px, 20px);
  }

  @include screen-tb {
    @include font-size(700, 20px, 24px);
  }
}