.our-blog {
  padding-top: 80px;
  background: #E5E5E5;
  padding-bottom: 10.3%;
}

.our-blog-title {
  padding-top: 10.3%;
  padding-bottom: 6%;
}

.post-box {
  width: 100%;
  height: 496px;
  background: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  %__img {
    @include object-size(100%, 44.7%, auto);
  }

  .post-info {
    max-width: 44.7%;

    &__pre-title {
      display: flex;
      justify-content: space-between;
      @include font-size(400, 16px, 19px);
      text-transform: uppercase;
      opacity: 90%;
      padding-bottom: 12px;
      width: 85%;
    }

    &__title {
      width: 90%;
      text-transform: uppercase;
      padding-bottom: 16px;
    }

    &__text {
      @include font-size (400, 16px, 24px);
      opacity: 0.78;
      width: 90%;
      padding-bottom: 32px;
    }

    &__button {
      min-width: 24%;
    }
  }
}

//media
@media (max-width:1300px) {
  .post-box {
    height: 396px;

    &__img {
      max-width: 40%;
    }
  }

  .post-info {
    &__title {
      @include font-size(700, 20px, 34px);
    }
  }
}

@media (max-width:1100px) {
  .post-box {
    @include position (block, column, center, center);
    height: fit-content;

    &__img {
      padding-top: 40px;
      padding-bottom: 40px;
      margin: auto;
      max-width: 60%;
    }
  }

  .post-info {
    margin: auto;
    min-width: 60%;
    padding-bottom: 40px;
  }
}

@media (max-width:750px) {
  .post-box {
    &__img {
      max-width: 80%;
    }
  }

  .post-info {
    min-width: 80%;
  }
}

@media (max-width:710px) {
  .our-blog {
    padding-top: 200px;
  }
}

@media (max-width:556px) {
  .post-info {
    &__botton {
      min-width: 35%;
    }
  }
}