.contact {
  background: url('/src/assets/images/contact/background-img.png') no-repeat center;
  background-size: cover;
  padding-top: 80px;

  @include screen-tb {
    height: 432px;
  }
}

.contact-title {
  padding-top: 10.3%;

  &__pre-title {
    text-align: left;
    color: $primary;
  }

  &__title {
    text-align: left;
    color: $white;
    margin: 0;
  }
}