.contact-form {
  background: #E5E5E5;

  &__title {
    padding-top: 10.3%;
    padding-bottom: 32px;
  }
}

.form-block {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10.3%;

  @include screen-sm {
    flex-wrap: nowrap;
  }
}

.forms {
  max-width: 80%;
  padding-bottom: 30px;

  @include screen-sm {
    max-width: 48.7%;
    padding-bottom: 0;
  }


  &__contact {
    width: 97%;
    height: 64px;
    margin-bottom: 12px;
    border-radius: 4px;
  }

  &__message {
    width: 97%;
    min-height: 120px;
    height: fit-content;
    @include font-size (400, 16px, 24px);
    padding-top: 24px;
    padding-left: 20px;
    border-radius: 4px;
    margin-bottom: 12px;

  }

  &__button {
    max-width: 100%;
    width: 100%;
    height: 64px;
  }
}

.forms__message:focus {
  border: 2px solid $primary;
}

.forms__contact[value] {
  @include font-size (400, 16px, 24px);
  padding-left: 20px;
}

.forms__contact[value]:focus {
  border: 2px solid $primary;
}

.addresses {
  padding-left: 10.3%;
  display: flex;
  flex-direction: column;

  &__title {
    @include font-size (400, 16px, 21px);
    opacity: 70%;
    padding-bottom: 8px;
  }

  &__contact {
    text-transform: uppercase;
    color: #161722;
    letter-spacing: -1%;
    max-width: 263px;
    padding-bottom: 32px;
    @include font-size (700, 15px, 20px);

    @include screen-tb {
      @include font-size(700, 24px, 28px);
      ;
    }

    a {
      color: #161722;
      @include font-size (700, 15px, 20px);

      @include screen-tb {
        @include font-size(700, 24px, 28px);
        ;
      }
    }
  }

  &__icon {
    img {
      padding-right: 32px;
    }
  }

}