.blog-title {
  &__pre-title {
    padding-top: 10.3%;
  }

  &__title {
    padding-bottom: 64px;
  }
}

.blog-calendar {
  width: 23.6%;
  height: 351px;
  border-bottom: 16px solid $light-orang;
}

.blog-calendar:hover {
  border-bottom: 16px solid $primary;
  transition-duration: 3s;
}

.blog-container {
  margin-left: 32px;

  &__pre-title {
    padding-top: 48px;
  }

  &__title {
    width: 72%;
  }

  &__text {
    width: 79%;
  }
}

.text {
  &__text {
    width: 100%;
  }
}

.blog__text {
  padding-bottom: 0px;
}

.blog-boxs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10.3%;
}

//media
@media (max-width:1200px) {
  .blog-boxs {
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
  }

  .blog-calendar {
    width: 40%;
    margin-bottom: 20px;
  }
}

@media (max-width:705px) {
  .blog-boxs {
    @include position(block, column, center, center);
  }

  .blog-calendar {
    width: 60%;
    margin-bottom: 40px;
    margin: 20px auto;
  }
}

@media (max-width:505px) {
  .blog-calendar {
    width: 80%;
    margin-bottom: 40px;
    margin: 20px auto;
  }
}