.blog-title {
  &__pre-title {
    padding-top: 10.3%;
  }

  &__title {
    padding-bottom: 64px;
  }
}

.blog-calendar {
  width: 80%;
  height: fit-content;
  border-bottom: 16px solid $light-orang;
  margin-right: 24px;
  margin: 2% auto;

  @include screen-sm {
    width: 45%;
  }

  @include screen-lp {
    width: 23.6%;
    height: 351px;
  }
}

.blog-calendar:hover {
  border-bottom: 16px solid $primary;
  transition-duration: 3s;
}

.blog-container {
  margin-left: 32px;

  &__pre-title {
    padding-top: 20px;

    @include screen-tb {
      padding-top: 48px;
    }

  }

  &__title {
    width: 72%;
  }

  &__text {
    width: 79%;
  }
}

.text {
  &__text {
    width: 100%;
  }
}

.blog__text {
  padding-bottom: 0px;
}

.blog-boxs {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10.3%;
}