.hero {
  padding-top: 80px;
  background: url('/src/assets/images/front-page/hero/hero-bakground.jpg') no-repeat center;
  background-size: cover;
}

.container-main {
  margin-left: 7.3%;
  margin-right: 7.3%;
}

.main-title {
  color: #232536;

  &__pre-title {
    @include font-size (700, 10px, 12px);
    color: $white;
    text-transform: uppercase;
    padding-top: 10.3%;

    @include screen-lp {
      @include font-size (700, 16px, 19px);
    }
  }

  &__title {
    color: $white;
    max-width: 80%;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 32px;
    @include font-size(700, 18px, 24px);
    letter-spacing: -1%;

    @include screen-sm {
      @include font-size(700, 18px, 34px);
    }

    @include screen-lp {
      @include font-size(700, 64px, 82px);
      max-width: 46.3%;
    }
  }

  &__button {
    max-width: 30%;
    height: 36px;

    @include screen-tb {
      height: 56px;
    }

    @include screen-lp {
      max-width: 16.7%;
      height: 64px;
    }
  }

  &__list {
    padding-top: 8%;
    padding-bottom: 10.3%;
    color: $white;
    max-width: 50%;
    @include font-size (400, 10px, 14px);

    @include screen-lp {
      @include font-size (400, 16px, 24px);
      max-width: 20.5%;
      padding-top: 64px;
    }

    li {
      padding-left: 12px;
      list-style-image: url("/src/assets/images/front-page/hero/Line.png");
    }
  }
}