.hero {
  background: url('/src/assets/images/front-page/hero/hero-bakground.jpg') no-repeat;
  background-size: cover;
}

.container-main {
  margin-left: 7.3%;
  margin-right: 7.3%;
}

.main-title {

  &__pre-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $white;
    text-transform: uppercase;
    padding-top: 10.3%;
  }

  &__title {
    color: $white;
    max-width: 46.3%;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 32px;
  }

  &__button {
    max-width: 214px;
    width: 100%;
    max-height: 64px;
  }

  &__list {
    padding-top: 64px;
    padding-bottom: 10.3%;
    color: $white;
    max-width: 20.5%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    li {
      padding-left: 12px;
    }
  }
}

//media
@media (max-width:1300px) {
  .main-title {

    &__title {
      max-width: 60%;
      padding-bottom: 3%;
    }

    &__list {
      max-width: 40%;
      padding-top: 3%;
    }
  }
}

@media (max-width:913px) {
  .hero {
    background-size: cover;
  }

  .main-title {

    &__title {
      max-width: 80%;
      padding-bottom: 3%;
    }

    &__list {
      max-width: 60%;
      padding-top: 3%;
    }
  }
}

@media (max-width:612px) {
  .hero {
    background: url('/src/assets/images/front-page/hero/hero-bakground.jpg') no-repeat center;
    background-size: cover;
  }
}