.join {
  padding-top: 10.3%;
}

.join-part {
  display: flex;

  &__calendar {
    position: relative;
    max-width: 34%;
    width: 100%;
  }

  &__img {
    max-width: 66%;
    width: 100%;

    img {
      width: inherit;
    }
  }

  &__link {
    padding-top: 48px;
    text-align: right;
    padding-bottom: 10.3%;

    &__link-text {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
    }

    &__link-arrow {
      img {
        margin-left: 11px;
      }
    }
  }
}

.join-title__title {
  padding-top: 16px;
  padding-bottom: 64px;
}

.calendar-box {
  background: $light-orang;
  height: 100%;
  width: 100%;
}

.calendar-container {
  margin-left: 20%;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__pre-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 8%;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
    ;
    text-transform: uppercase;
    width: 48%;
    margin-bottom: 3%;
  }

  &__title {
    width: 59%;
    margin-bottom: 3%;
  }

  &__text {
    color: $black;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.78;
    width: 80%;
    margin-bottom: 6%;
  }

  &__button {
    background: $black;
    max-width: 44%;
    width: 100%;
    max-height: 64px;
  }

  &__button-text {
    color: $primary;
  }
}

.calendar__button:hover {
  transition-duration: 3s;
  background: $black;

  .calendar__button-text {
    color: $white;
  }
}

.date {
  display: flex;
  padding-bottom: 6%;

  &__icon {
    width: 20px;
    height: 20px;
    padding-right: 16px;

    img {
      padding-bottom: 16px;
    }
  }
}

.text {
  &__text {
    color: $black;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 3%;
    width: 80%;
  }
}

.number {
  color: $black;
  position: absolute;
  top: 6%;
  right: 6%;

  &__date {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1%;
    text-align: right;
  }

  &__month {
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    text-align: right;
  }
}

//media
@media (max-width:1300px) {
  .join-part {
    display: block;
    flex-direction: column;

    &__calendar {
      max-width: 44%;
      width: 100%;
      height: 512px;
      margin: auto;
      margin-bottom: 5%;
    }

    &__img {
      max-width: 100%;
      width: 100%;
    }
  }
}

// @media (max-width:930px) {
//   .join-part {

//     &__calendar {
//       max-width: 64%;
//       width: 100%;
//       height: 512px;
//     }
//   }
// }

// @media (max-width:600px) {
//   .join-part {
//     &__calendar {
//       max-width: 80%;
//       width: 100%;
//       max-height: 512px;
//     }
//   }
// }