.join {
  padding-top: 10.3%;
}

.join-part {
  display: flex;
  flex-wrap: wrap;

  @include screen-md {
    flex-wrap: nowrap;
  }

  &__calendar {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;

    @include screen-tb {
      width: 60%;
    }

    @include screen-lp {
      width: 50%;
    }

    @include screen-md {
      width: 34%;
      height: 512px;
      padding-top: 19px;
    }
  }

  &__img {
    width: 80%;
    margin: 20px auto;

    @include screen-md {
      width: 66%;
    }
  }

  &__link {

    text-align: right;
    padding-bottom: 10.3%;

    @include screen-lp {
      padding-top: 48px;
    }

    &__link-text {
      font-family: "Roboto Condensed", sans-serif;
      @include font-size(400, 24px, 32px);
    }

    &__link-arrow {
      img {
        margin-left: 11px;
      }
    }
  }
}

.join-title__title {
  padding-top: 16px;
  padding-bottom: 7%;
}

.calendar-box {
  background: $light-orang;
  height: 100%;
  width: 100%;
}

.calendar-container {
  margin-left: 20%;
}

.calendar {
  @include position(flex, column, center, center);

  &__pre-title {
    @include font-size (700, 10px, 12px);
    margin-top: 10%;
    letter-spacing: 8%;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
    ;
    text-transform: uppercase;
    width: 48%;
    margin-bottom: 3%;

    @include screen-sm {
      @include font-size(700, 12px, 14px);
    }
  }

  &__title {
    width: 59%;
    margin-bottom: 3%;
    @include font-size(700, 10px, 18px);

    @include screen-sm {
      @include font-size(700, 20px, 24px);

    }

    @include screen-md {
      @include font-size(700, 24px, 28px);
    }
  }

  &__text {
    color: $black;
    @include font-size(400, 10px, 12px);
    opacity: 0.78;
    width: 80%;
    margin-bottom: 3%;

    @include screen-sm {
      @include font-size(400, 16px, 24px);
      margin-bottom: 6%;
    }
  }

  &__button {
    background: $black;
    max-width: 44%;
    width: 100%;
    height: 64px;
    margin-bottom: 6%;
    transition-duration: 0.5s;
  }

  &__button-text {
    color: $primary;
  }
}

.calendar__button:hover {

  background: $black;
}

.date {
  display: flex;
  padding-bottom: 6%;

  &__icon {
    width: 10px;
    padding-right: 16px;

    @include screen-sm {
      width: 20px;
      height: 20px;
    }

    img {
      padding-bottom: 8px;

      @include screen-sm {
        padding-bottom: 16px;
      }

    }
  }
}

.text {
  &__text {
    color: $black;
    font-weight: 400;
    line-height: 12px;
    padding-bottom: 3%;

    @include screen-sm {
      line-height: 24px;
    }
  }
}

.number {
  color: $black;
  position: absolute;
  top: 6%;
  right: 6%;

  &__date {
    @include font-size(700, 24px, 28px);
    letter-spacing: -1%;
    text-align: right;
  }

  &__month {
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    text-align: right;
  }
}