.second-title {
  color: #161722;
  text-align: center;

  &__pre-title {
    @include font-size(400, 16px, 19px);
    text-transform: uppercase;
  }

  &__title {
    text-transform: uppercase;
    max-width: 48%;
    padding-top: 16px;
    margin: 0 auto;
  }
}

.relevant-title {
  padding-top: 10.3%;
  margin: auto;
  display: block;
  flex-direction: column;
  align-items: center;

}

.relevant-blocks {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;

  @include screen-lp {
    flex-wrap: nowrap;
  }
}

.block-info {
  @include position(block, column, center, center);
  background: $light-orang;
  border-bottom: 16px solid $light-orang;
  max-width: 40%;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 20px;

  @include screen-lp {
    @include object-size(100%, 32.1%, 100%);
  }

  &__icon {
    width: 48px;
    height: 48px;
    margin-top: 21%;
    margin-left: 19.5%;
    margin-bottom: 24px;
    background: $primary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 22px;
      height: 22px;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-left: 19.5%;
    margin-bottom: 8px;
  }

  &__text {
    line-height: 18px;
    margin-bottom: 21%;
    margin-left: 19.5%;
    max-width: 62%;

    @include screen-md {
      font-weight: 400;
      line-height: 24px;
    }
  }
}

.block-info:hover {
  border-bottom: 16px solid $primary;
  transition-duration: 2s;
}