.serve {
  background: url('/src/assets/images/front-page/serve/background-img.png') no-repeat;
  background-size: cover;
  height: 736px;
  position: relative;
  display: block;
}

.serve::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(109.61deg, #CD5423 -53.83%, #FFD0A0 62.61%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  mix-blend-mode: soft-light;
  opacity: 0.8;
}

.serve-container {
  padding-top: 10.3%;
}

.serve-form {
  background: $white;
  width: 60%;
  height: 464px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1000;
  position: relative;
  border-bottom: 16px solid $white;
}

.serve-form:hover {
  border-bottom: 16px solid $primary;
  transition-duration: 3s;
}

.box-content {
  margin-left: 48px;
  color: $black;


  &__title {
    max-width: 52%;
    text-transform: uppercase;
  }

  &__text {
    width: 40%;
    font-weight: 400;
    line-height: 24px;
    opacity: 78%;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__button {
    @include object-size(100%, 162px, 64px);
  }
}

.box-form {
  &__quotes {
    max-width: 24.2%;
    width: 100%;
    position: absolute;
    right: 6.3%;
    top: 22.1%;
    bottom: 22.1%;
    left: 69.4%;
  }
}

//media
@media (max-width:1276px) {
  .serve {
    background: url('/src/assets/images/front-page/serve/background-img.png') no-repeat center;
  }
}

@media (max-width:860px) {
  .serve-form {
    width: 80%;
  }
}

@media (max-width:560px) {
  .serve {
    height: 600px;
  }

  .serve-form {
    width: 90%;
  }
}