.header {
  background: #0D0D0D;
  height: 80px;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  transition: top 0.2s ease-in-out;
  z-index: 1000;

  @include screen-tb {
    height: 80px;
  }

  &__nav-bars {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.out {
  transform: translateY(-100%);
}


.header-container {
  width: 100%;
}

.nav-bar {
  height: 100%;
  width: 100%;

  &__logo {
    max-width: 20%;

    @include screen-lp {
      display: flex;
      align-items: center;
      height: 100%;
      margin-right: 4.4%;
      width: 20.5%;
    }

  }

  &__links {
    width: 30%;
    margin-left: 4.3%;

    @include screen-sm {
      width: 55%;
    }
  }

  &__links a {
    margin-right: 48px;
  }

  &__button {
    width: 26%;

    @include screen-lp {
      width: 19.3%;
    }
  }
}

.logo {
  width: 20%;
  max-width: 132px;
}

.link__a {
  @include font-size(400, 10px, 12px);
  text-align: right;
  text-transform: uppercase;
  color: $white;
  opacity: 0.9;

  @include screen-tb {
    @include font-size(400, 14px, 16px);
  }

  @include screen-lp {
    @include font-size (400, 16px, 19px);
  }
}

.link__a:hover {
  color: $primary;
  transition-duration: 2s;
}

.active-link {
  color: $primary;
}

.nav-bar {
  &__button {
    height: 36px;
    max-width: 30%;

    @include screen-tb {
      max-width: 14%;
      height: 56px;
    }
  }
}

.button {
  background: $primary;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.5s;

  &__text {
    @include font-size (400, 10px, 14px);
    text-transform: uppercase;
    color: #1C1D28;
    margin: 0 auto;
    text-align: center;

    @include screen-tb {
      @include font-size (400, 16px, 16px);
    }
  }
}

.button:hover {
  background: $button-active;
}