.apcoming {
  background: #E5E5E5;
}

.apcoming-calendar {
  position: relative;
  background: $white;
  border-bottom: 16px solid $white;

  @include screen-sm {
    width: 60%;
  }

  @include screen-tb {
    height: 454px;
    width: 302px;
  }
}

.number {
  position: absolute;
}

.apcoming__title {
  width: 80%;
}