.event-calendar {
  position: relative;

  @include screen-tb {
    width: 40%;
  }

  @include screen-lp {
    height: 454px;
    width: 23.5%;
  }
}

.event__text {
  padding-bottom: 32px;
}

.event-text {
  width: 75%;
}

.event-number {
  position: absolute;
}