.sermon {
  background: url('/src/assets/images/sermons/sermons/background-img.png') no-repeat center;
  background-size: cover;
  padding-top: 80px;

  @include screen-tb {
    height: 432px;
  }
}

.sermon-title {
  padding-top: 6%;

  @include screen-tb {
    padding-top: 13%;
  }

  &__pre-title {
    margin: 0;
    text-align: left;
    color: #232536;
  }

  &__title {
    margin: 0;
    text-align: left;
    max-width: 61.7%;
    color: #232536;
    padding-bottom: 6%;
  }
}