//google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//color
$black: #161722;
$primary: #FFD2A4;
$light-orang: #FFF5EB;
$grey: #F5F2F0;
$white: #fff;
$button-active: #F2C79B;


* {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.heading {
  &__1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 82px;
    letter-spacing: -1%;
  }

  &__2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -1%;
  }

  &__3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -1%;
  }

  &__4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -1%;
  }

  &__5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1%;
  }

  &__6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}

//media
@media (max-width:1300px) {

  .heading {
    &__1 {
      font-weight: 700;
      font-size: 44px;
      line-height: 62px;
      letter-spacing: -1%;
    }

    &__2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 44px;
      letter-spacing: -1%;
    }

    &__3 {
      font-weight: 700;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: -1%;
    }

    &__4 {
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: -1%;
    }

    &__5 {
      font-weight: 700;
      font-size: 10px;
      line-height: 18px;
      letter-spacing: -1%;
    }

    &__6 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-width:450px) {
  * {
    font-size: 10px;
  }

  .heading {
    &__1 {
      font-weight: 700;
      font-size: 34px;
      line-height: 52px;
      letter-spacing: -1%;
    }

    &__2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 34px;
      letter-spacing: -1%;
    }

    &__3 {
      font-weight: 700;
      font-size: 10px;
      line-height: 26px;
      letter-spacing: -1%;
    }

    &__4 {
      font-weight: 700;
      font-size: 8px;
      line-height: 14px;
      letter-spacing: -1%;
    }

    &__5 {
      font-weight: 700;
      font-size: 10px;
      line-height: 18px;
      letter-spacing: -1%;
    }
  }
}