.clause-boxs {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 96px;
}

.clause__title {
  padding-top: 10.3%;
  padding-bottom: 6%;
}

.clause-info {
  width: 48.8%;
  @include position (flex, column, center, left);

  &__title {
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &__text {
    line-height: 24px;
    font-weight: 400;
    opacity: 78%;
  }
}

.clause-img {
  width: 48.8%;
}

//media
@media (max-width:1073px) {
  .clause-info {
    &__title {
      @include font-size(700, 28px, 30px);
    }
  }

  .clause-boxs {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
  }
}

@media (max-width:909px) {
  .clause-info {
    &__title {
      padding-bottom: 0;
    }
  }
}

@media (max-width:843px) {
  .clause-boxs {
    @include position(block, column, center, center);
  }

  .clause-info {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    &__title {
      padding-bottom: 2%;
    }
  }

  .clause-img {
    width: 80%;
    padding-top: 6%;
    padding-bottom: 6%;
    margin: 0 auto;
  }
}