.clause-boxs {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 96px;
}

.clause__title {
  padding-top: 10.3%;
  padding-bottom: 64px;
}

.clause-info {
  width: 48.8%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &__text {
    line-height: 24px;
    font-weight: 400;
    opacity: 78%;
  }
}

.clause-img {
  width: 48.8%;
}

//media
@media (max-width:650px) {
  .clause__title {
    padding-bottom: 3%;
  }

  .clause-boxs {
    padding-bottom: 10%;
  }

  .clause-img {
    display: flex;
    justify-content: center;
  }

  .clause-info__text {
    line-height: 16px;
  }
}

@media (max-width:600px) {}