.clause-boxs {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10%;

  @include screen-tb {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 96px;
  }
}

.clause__title {
  padding-top: 10.3%;
  padding-bottom: 6%;
}

.clause-info {
  margin: auto;
  width: 60%;
  @include position (flex, column, center, left);

  @include screen-tb {
    width: 48.8%;
  }

  &__title {
    text-transform: uppercase;
    padding-bottom: 2%;

    @include screen-tb {
      padding-bottom: 16px;
    }

  }

  &__text {
    @include font-size (400, 10px, 12px);

    @include screen-tb {
      @include font-size (400, 16px, 24px);
    }

    opacity: 78%;
  }
}

.clause-img {
  margin: auto;
  padding-top: 10%;
  width: 60%;

  @include screen-tb {
    width: 48.8%;
    padding-top: 0;
  }
}