.user-blocks {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 10.3%;
}

.user-block {
  @include object-size(100%, 302px, 366px);
  background: $grey;
  @include position (flex, column, center, center);

  &__img {
    width: 152px;
    height: 152px;
    padding-bottom: 26px;
    margin: 0 auto;
  }

  &__name {
    text-transform: uppercase;
    padding-bottom: 8px;
  }

  &__prof {
    line-height: 24px;
    opacity: 0.7;
    padding-bottom: 16px;
  }

  &__icon {
    display: flex;
    justify-content: center;
  }
}

.block-icon {
  padding-right: 20px;
}

//media
@media (max-width:1400px) {
  .user-blocks {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .user-block {
    margin-bottom: 5%;
  }
}