.serving {
  background: url('/src/assets/images/about-us/serving/backgroutimg.png') no-repeat;
  background-size: cover;
  height: 432px;
  padding-top: 80px;
}

.serving-title {
  padding-top: 13%;


  &__pre-title {
    margin: 0;
    text-align: left;
  }

  &__title {
    margin: 0;
    text-align: left;
    max-width: 41.7%;
  }
}

// //media
// @media (max-width:1300px) {
//   .heading {
//     &__2 {
//       font-weight: 700;
//       font-size: 48px;
//       line-height: 64px;
//       letter-spacing: -1%;
//     }
//   }
// }

// @media (max-width:1111px) {
//   .serving-title {
//     &__title {
//       max-width: 62%;
//     }
//   }
// }


// @media (max-width:913px) {
//   .serving {
//     background-size: cover;
//   }
// }

// @media (max-width:708px) {
//   .serving {
//     padding-top: 200px;
//   }
// }

// @media (max-width:656px) {
//   .header {
//     position: absolute;
//   }
// }

// @media (max-width:434px) {
//   .serving {
//     background: url('/src/assets/images/about-us/serving/backgroutimg.png') no-repeat;
//     background-size: cover;
//   }

//   .serving-title {
//     padding-top: 20%;

//     &__title {
//       font-weight: 700;
//       font-size: 18px;
//       line-height: 34px;
//       letter-spacing: -1%;
//     }
//   }
// }