.serving {
  background: url('/src/assets/images/about-us/serving/backgroutimg.png') no-repeat center;
  background-size: cover;
  padding-top: 80px;

  @include screen-tb {
    height: 432px;
  }
}

.serving-title {
  padding-top: 6%;

  @include screen-tb {
    padding-top: 13%;
  }

  &__pre-title {
    margin: 0;
    text-align: left;
  }

  &__title {
    margin: 0;
    text-align: left;
    max-width: 41.7%;
    padding-bottom: 6%;
  }
}