.welcome {
  &__title {
    padding-top: 10.3%;
  }
}

.img-welcome {
  position: relative;
  height: 60px;

  @include screen-sm {
    height: 150px;
  }

  @include screen-tb {
    height: 370px;
  }
}

.welcome-img {
  &__1 {
    position: absolute;
    top: 14px;
    left: 10%;
    transform: scale(1);
  }

  &__2 {
    position: absolute;
    top: 0px;
  }

  &__3 {
    position: absolute;
    top: 14px;
    right: 10%;
    transform: scale(1);
  }
}

.welcome-article {
  padding-top: 6%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20.5%;
  margin-right: 20.5%;

  @include screen-sm {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 10.5%;
    margin-right: 10.5%;
  }

  @include screen-lp {
    margin-left: 20.5%;
    margin-right: 20.5%;
  }
}

.article-box {
  padding-bottom: 10%;

  @include screen-sm {
    width: 47%;
  }

  &__pre-title {
    padding-bottom: 16px;
    opacity: 78%;
  }

  &__title {
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &__text {
    opacity: 78%;
  }
}

.welcome-pre-title {
  @include font-size (400, 10px, 12px);

  @include screen-tb {
    @include font-size (400, 16px, 19px);
  }
}

.welcome-text {
  padding-top: 3%;
  padding-bottom: 3%;

  @include screen-tb {
    padding-top: 32px;
    padding-bottom: 48px;
  }
}