.welcome {
  &__title {
    padding-top: 10.3%;
  }
}

.img-welcome {
  position: relative;
  height: 370px;
}

.welcome-img {
  &__1 {
    position: absolute;
    top: 14px;
    left: 10%;
    transform: scale(1);
  }

  &__2 {
    position: absolute;
    top: 0px;
  }

  &__3 {
    position: absolute;
    top: 14px;
    right: 10%;
    transform: scale(1);
  }
}

.welcome-article {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  margin-left: 20.5%;
  margin-right: 20.5%;
}

.article-box {
  width: 47%;

  &__pre-title {
    padding-bottom: 16px;
    opacity: 78%;
  }

  &__title {
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &__text {
    opacity: 78%;
  }
}

@media (max-width:1000px) {
  .img-welcome {
    height: 220px;
  }

  .welcome-article {
    margin-left: 5%;
    margin-right: 5%;
  }

  .article-box {
    &__pre-title {
      padding-bottom: 1%;
    }

    &__title {
      padding-bottom: 2%;
    }
  }
}

@media (max-width:800px) {
  .img-welcome {
    height: 140px;
  }
}

@media (max-width:600px) {
  .welcome-title {
    max-width: 100%;
  }
}

@media (max-width:573px) {
  .welcome-article {
    padding-top: 3%;
    @include position (flex, column, center, center);
  }

  .article-box {
    padding-bottom: 10%;
  }
}

@media (max-width:450px) {
  .second-title {
    &__pre-title {
      font-size: 10px;
      line-height: 12px;
      font-weight: 300;
    }
  }

  .second-title {
    &__text {
      padding-top: 3%;
      padding-bottom: 3%;
    }
  }

  .img-circle {
    padding-bottom: 0;
  }
}